{% extends "layout.html.twig" %}

{% block title %} Inscription {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Inscription d'un Membre</h2>
            <form action="{{ url('news_inscription_post') }}" method="POST"
                  class="form-horizontal">

                {# Prénom et Nom #}
                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="PRENOMAUTEUR" id="PRENOMAUTEUR"
                               class="form-control" required type="text"
                                placeholder="Saisissez votre Prénom">
                    </div>
                    <div class="col-xs-6">
                        <input name="NOMAUTEUR" id="NOMAUTEUR"
                               class="form-control" required type="text"
                               placeholder="Saisissez votre Nom">
                    </div>
                </div>

                {# Email et Mot de Passe #}
                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="EMAILAUTEUR" id="EMAILAUTEUR"
                               class="form-control" required type="email"
                               placeholder="Saisissez votre Email">
                    </div>
                    <div class="col-xs-6">
                        <input name="MDPAUTEUR" id="MDPAUTEUR"
                               class="form-control" required type="password"
                               placeholder="*******">
                    </div>
                </div>

                {# Bouton Submit #}
                <input type="submit" class="btn btn-block btn-primary"
                    value="M'inscrire !">

            </form>
        </div>
    </div>

{% endblock %}

